# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

build/
.env
.env.*

# Logs
logs
*.log

# VS Co
.vscode/
.history/

]# IntelliJ
.idea/
*.iml
out/

# Playwright
/playwright-report/
/playwright/.cache/
/test-results/

# Misc
.DS_Store
Thumbs.db
