name: Deployment
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      deploy-environment:
        description: "Select the environment (only 'cluster' deployments are allowed)"
        required: true
        default: "production"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Load & Cache dependencies
        id: load-and-cache-dependencies
        uses: ./.github/actions/cached-dependencies
        with:
          caching: false # Disable caching for lint
      - name: Output Cache Usage Information
        run: |
          echo "Cache used?: ${{ steps.load-and-cache-dependencies.outputs.cache-hit }}"
      - name: Lint code
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Load & Cache dependencies
        id: load-and-cache-dependencies
        uses: ./.github/actions/cached-dependencies
      - name: Output Cache Usage Information
        run: |
          echo "Cache used?: ${{ steps.load-and-cache-dependencies.outputs.cache-hit }}"
      - name: Test code
        id: run-tests
        run: npm run test
      - name: Upload test report
        if: failure() && steps.run-tests.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test.json
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Load & Cache dependencies
        id: load-and-cache-dependencies
        uses: ./.github/actions/cached-dependencies
      - name: Output Cache Usage Information
        run: |
          echo "Cache used?: ${{ steps.load-and-cache-dependencies.outputs.cache-hit }}"
      - name: Build website
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files
          path: ./dist
      - name: Output contents
        run: ls
      - name: Deploy site
        run: echo "Deploying..."
  information:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Run custom action
        uses: ./.github/actions/deploy-s3-javascript
